/* start commented backslash hack \*/
* html .clearfix { 
    height: 1%; 
}
.clearfix { 
    display: block;

    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}
/* close commented backslash hack */

.amlm-wrap {
    max-width: 1140px;

    .header {
        margin-top: 20px;
        background-color: #fff;
        border-bottom: 1px solid #ddd;
        display: flex;
        justify-content: flex-end;

        .user-info {
            width: 250px;
            display: flex;
            justify-content: space-between;

            .user-detail {
                h4 {
                    text-transform: uppercase;
                    margin: 15px 0 0 0;
                    font-size: 18px;
                }

                p {
                    text-transform: uppercase;
                    margin: 5px 0;
                    font-size: 12px;
                }
            }

            .user-avater {
                max-width: 40px;
                padding: 15px;
                
                img {
                    max-width: 100%;
                    border-radius: 100%;
                    border: 1px solid #000;
                }
            }
        }
    }

    .content-body {
        margin-top: 20px;

        .content-left {
            width: 67.3%;
            float: left;
            
            .content-info-box {
                display: flex;
                justify-content: space-between;
            }
        }
        .content-right {
            width: 29.7%;
            float: left;
            margin-left: 3%;
        }

        .content-info-box {
            .info-box {
                background-color: #fff;
                border: 1px solid #e0d7d7;
                padding: 15px;
                min-width: 43%;

                h3 {
                    margin: 10px 0 0 0;
                    font-size: 20px;
                }

                p {
                    margin: 5px 0 0 0;
                    font-size: 16px;
                }
            }
        }

        .chart-box {
            background-color: #fff;
            border: 1px solid #e0d7d7;
            padding: 15px;
            margin-top: 20px;

            h3 {
                margin: 10px 0 0 0;
                position: relative;
                font-size: 20px;

                &:after {
                    position: absolute;
                    content: '';
                    width: 100px;
                    height: 1px;
                    background-color: #ddd;
                    bottom: -20px;
                    left: -16px;
                }
            }

            #growthChart {
                max-height: 345px;
            }
        }
    }

    .clients-overview, .all-requests {
        margin-top: 20px;
        background-color: #fff;
        border: 1px solid #e0d7d7;
        padding: 15px;

        h3 {
            margin: 10px 0 0 0;
            position: relative;
            font-size: 20px;

            &:after {
                position: absolute;
                content: '';
                width: 100px;
                height: 1px;
                background-color: #ddd;
                bottom: -20px;
                left: -16px;
            }
        }

        table {
            margin-top: 40px;
            width: calc(100% + 34px);
            position: relative;
            margin-left: -17px;

            tr {
                th {
                    font-size: 16px;
                    font-weight: bold;
                    padding: 20px;
                    text-align: left;
                    border-right: 1px solid #ececec;
                }
                td {
                    padding: 20px;
                    font-size: 16px;
                    text-align: left;

                    &.cell-actions {
                        border-left: 1px solid #ececec;
                    }

                    span {
                        line-height: 1.4;
                    }

                    .cell-label{
                        display: block;
                    }
                    
                    .cell-value {
                        font-weight: 500;
                    }

                    .overview-button {
                        padding: 10px 15px;
                        text-decoration: none;
                        background: #ebebeb;
                        color: #565656;
                        transition: all 0.3s ease;

                        &:hover {
                            background-color: #dedede;
                        }

                        &.details {
                            background-color: #616161;
                            color: #e0d7d7;

                            &:hover {
                                background-color: #464343;
                            }
                        }

                        &:not(.details) {
                            margin-right: 10px;
                        }
                    }
                }

                &:nth-child(odd) {
                    background-color: #FBFBFB;
                }
            }
        }
    }
}

.withdraw-requests-wrap {
    .content-body {
        .content-info-box {
            display: flex;

            .info-box {
                min-width: initial;
                width: 30%;

                &:not(:last-child) {
                    margin-right: 2%;
                }

                a {
                    text-decoration: none;
                    color: #444;

                    &:focus{
                        box-shadow: none;
                        outline: 1px solid transparent;
                    }
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }

    .all-requests {
        table {
            th {
                a {
                    color: #444;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .request-body {
        margin-top: 20px;
        background-color: #fff;
        border-bottom: 1px solid #ddd;
        padding: 20px;

        h4 {
            margin: 10px 0 0 0;
            position: relative;
            font-size: 20px;

            &:after {
                position: absolute;
                content: '';
                width: 100px;
                height: 1px;
                background-color: #ddd;
                bottom: -20px;
                left: -16px;
            }
        }

        h5 {
            font-size: 16px;
        }

        .review-request {
            margin-top: 40px;
            max-width: 300px;

            .request-information {
                p {
                    font-size: 16px;
                    line-height: 2;
                }
            }
        }
        .request-action {
            max-width: 300px;

            .form-group {
                margin-bottom: 20px;
                
                label {
                    display: block;
                    line-height: 2;
                    font-size: 16px;
                }
            }

            .amlm-wc-btn {
                background-color: #616161;
                color: #e0d7d7;
                padding: 10px 15px;
                text-decoration: none;
                transition: all .3s ease;
                border: none;
                font-size: 16px;
                cursor: pointer;

                &:hover {
                    background-color: #464343;
                }
            }
        }
    }
}